* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{

	flex-wrap: wrap;
}

.bottomFooterMenu{
	margin: 0px;
	padding: 0px;
}


.description{
  position: absolute !important;

}

.description p{
  font-style: italic;
    word-wrap: normal;
}
