@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Sansation-Light;
    src: url(../fonts/Sansation_Light.ttf);
}

div{
	font-family: Sansation-Light;
}

.cart-icon{
	float: right;
}

.top-menu {
    background-color: #663300;
}